   <!-- Page Content-->
   <div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="../../../assets/ui.jpg" alt="..." /></div>
        <div class="col-lg-5" style="background-color: #10102a; color: white; padding-top: 80px;
        padding-right: 60px;
        padding-bottom: 80px;
        padding-left: 60px;">
            <h1 class="font-weight-light">The First and the Best</h1>
            <p>
                Established in 1948, the University of Ibadan, UI as it is fondly referred to, is the first University in Nigeria. Until 1962 when it became a full-fledged independent University, it was a College of the University of London in a special relationship scheme. The University, which took off with academic programmes in Arts, Science and Medicine, is now a comprehensive citadel of learning with academic programmes in sixteen Faculties namely, Arts, Science, Basic Medical Sciences, Clinical Sciences, Agriculture, the Social Sciences, Education, Veterinary Medicine, Pharmacy, Technology, Law, Public Health, Dentistry, Economics, Renewable Natural Resources and Environmental Design and Management.
            </p>
            <a class="btn btn-primary" href="https://ui.edu.ng/History">Read More</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Studying at the University of Ibadan</p></div>
    </div>