h3{
    text-align: center;
}

.center{
    display: block;
    margin: 0 auto;
    width: 50%;
}

div{
    text-align: center;
}
label{
    text-align: left;
}
.alert-danger{
    background-color: red;
}
.alert{
    color: white;
    margin-bottom: 30px;
    text-align: left;
}